* {
    padding: 0;
    margin: 0;
    font-weight: normal;
    user-select: none;
}
:root{
    --bg-color: rgba(46, 62, 74, 1);
    --opasity: 0.5;
    --bg-gradient:  linear-gradient(9deg, rgba(48,67,82, 0.9) 19%, rgba(215,210,204, 0.3) 100%);
    --webkit-bg-gradient: -webkit-linear-gradient(to right, rgba(48, 67, 82, 1), rgba(215, 210, 204, 1));
    --radius: 20px;
}
body{
    background-color:  var(--bg-color);
}
@font-face {
    font-family: 'Alegreya';
    src: url('./fonts/static/Alegreya-Medium.ttf') format('truetype'),
    url('./fonts/static/Alegreya-Medium.ttf') format('truetype');
}
.container{
    font-family: 'Alegreya', sans-serif;
    padding-top: 5%;
    background: var(--webkit-bg-gradient), center, center, no-repeat, url("./images/thomas-griesbeck-BS-Uxe8wU5Y-unsplash.jpg");
    background: var(--bg-gradient),center, center, no-repeat, url("./images/thomas-griesbeck-BS-Uxe8wU5Y-unsplash.jpg");
    background-size: cover;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
.content{
    font-size: 1.3em;
    border-radius: var(--radius);
    background-color:  rgba(46, 62, 74, 0.5);
    padding: 2%;
    text-align: center;
    width: 80%;
}

.title{
    font-size: 2em;
    margin-bottom: 5%;
}
.text{
    opacity: 1;
    font-size: 1.3em;
    color: #262626;
}
#date{
    width: 100%;
    padding: 2%;
    margin: 2%;
    border: none;
    text-align: left;
}
#date:focus{
    outline: none;
}

.content__info{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 2%;
}
.content__info-number{
    background: none;
    border: none;
    outline: none;
    font-weight: bold;
    width: 10%;
}
.add__task{
    width: 80%;
    padding: 1.5%;
    border: 1px solid black;
    border-radius: 30px;
}
.add__task:focus{
    outline: none;
    border: 2px solid black;
}
.list-item{
    border-radius: var(--radius);
    background-color: rgba(196, 195, 195, 0.5);
    padding: 2%;
    margin: 2%;
    display: flex;
    justify-content: space-between;
}
.list-item:hover{
    background-color: #e3e3e3;
}
.list-item_done{
    text-decoration: line-through;
}
.list-item__remove-icon{
    opacity: 0.5;
    cursor: pointer;
}
.list-item__remove-icon:hover{
    opacity: 1;
    transition: 1s;
}

@media screen and (max-width: 600px){
    .title{
        font-size: 1.3em;
    }
    .content__info-text{
        font-size: 0.8em;
    }
}

/*anim*/

.list-item_remove{
    animation: list-item_remove-anim .6s cubic-bezier(.55, -0.04, .91, .94) forwards;
}
@keyframes list-item_remove-anim {
    1%{
        opacity: 1;
        transform: scale(1);
    }
    100%{
        opacity: 0;
        transform: scale(0);
    }
}